h1
{
 text-align: center;
 color: rgb(62, 29, 92);
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   

}

#d1
{
    margin: 20px 300px 20px 300px;
}

body{
    background-color: whitesmoke;
}
#b1{
display: inline;
color: black;
border-radius: 50px 50px 50px 50px;
}
#td1
{
margin-left: 250px;
font-size: 25px;
text-align: left;
width: 900px;
size: 900px;
max-width: 600px;
}
button
{
    background-color: rgba(194, 19, 19, 0.822);
    color: black;
    font-size: 22px;
    height: 40px;
    width: 100px;
    border-radius: 50px 50px 50px 50px;
}
s
{
   color: darkgreen;
  
}
#task
{
    margin-left: 350px;
    margin-right: 20px ;
    width: 500px;
}
#in
{
    display: inline;
}